<div class="container">
  <div class="row mb-3">
    <div class="col text-end">
      <button class="btn btn-secondary" (click)="createOrder()">Create Order</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products">
      <div class="card mt-2" style="width: 100%;">
        <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">{{product.price |  currency:'EGP'}}</p>
          <p class="card-text">{{product.quantityInStock}} letf in Stock</p>
          <div class="d-flex align-items-center mt-3">
            <input type="number" min="1" max="{{product.quantityInStock}}" #quantityInput class="form-control me-2" style="width: 100px;">
            <a  class="btn btn-secondary ms-auto" (click)="addToCart(product.id,quantityInput.value)">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center mt-5">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="previous()">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="next()">Next</a>
        </li>
      </ul>
  </div>
</div>

