<div class="container">
  <div class="row mb-3">
    <div class="col text-end">
      <button class="btn btn-secondary" (click)="createOrder()">Create Order</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products">
      <app-product-card [product]="product" (newItemEvent)="addToCart($event)"></app-product-card>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center mt-5">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="previous()">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="next()">Next</a>
      </li>
    </ul>
  </div>
</div>